# Copyright (C) 2023 UniRTOS.
# All rights reserved.
#

menu "UniRTOS system feature"

config QOSA_FEATURE_ALLOW_CHANGE
    bool
    default n

config QOSA_OPENCPU_FUNC
    bool "Enable OpenCPU function"
    default n

config QOSA_VFS_FILESYSTEM_FUNC
    bool "Enable Virtual file system"
    default y

config QOSA_LINK_LIST_FUNC
    bool "Enable Bidirectional linkedlist"
    default y

config QOSA_BUFFER_BLOCK_FUNC
    bool "Enable Data service manager"
    default y

config QOSA_SSL_FUNC
    bool "Enable SSL third-party library types"
    default y

config QOSA_SOCKET_DNS_FUNC
    bool "Enable synchronous and asynchronous DNS resolution"
    default n

config QOSA_EVENT_NOTIFY_FUNC
    bool "Enable registration notification function"
    default y

config QOSA_LOG_DEBUG_FUNC
    bool "Enable log printing and output function"
    default y

config QOSA_VSIM_ADAPT_FUNC
    bool "Enable vsim function"
    default n

config QOSA_DATACALL_FUNC
    bool "Enable PDP management function"
    select QOSA_EVENT_NOTIFY_FUNC
    select QOSA_LINK_LIST_FUNC
    default n

config QOSA_MODEM_DEV_FUNC
    bool "Enable modem-related management function"
    default n

config QOSA_NW_FUNC
    bool "Enable network parameter update and indication report function"
    depends on QOSA_LINK_LIST_FUNC
    default n

config QOSA_IMS_FUNC
    bool "Enable ims parameter update and indication report function"
    default n

config QOSA_USBNET_FUNC
    bool "Enable USBNET(ECM/RNDIS/NCM) function"
    default n

config QOSA_PPP_FUNC
    bool "Enable PPP function"
    default n

config QOSA_SIM_FUNC
    bool "Enable modem SIM/(U)SIM function"
    default n

config QOSA_SIM_HAL_SLOT_NUM
    int "sim card number" if QOSA_FEATURE_ALLOW_CHANGE
    default 1
    range 1 2
    help
        could be 1 or 2

config QOSA_SMS_FUNC
    bool "Enable modem SMS function"
    default n

config QOSA_VIRT_AT_FUNC
    bool "Enable virtual AT function"
    default n

config QOSA_DSDS_FUNC
    bool "Enable Dual-SIM Dual-Standby function"
    default n

# If using the built-in UniRTOS library, enable the MBEDTLS3_X_X or MBEDTLS2_X_X macro definition.
# If not using the built-in UniRTOS library and directly using the platform's native mbedtls library, do not select either.
# However, the OSA_MBEDTLS_LIBRARY_FUNC macro must also be enabled.
config QOSA_MBEDTLS_LIBRARY_FUNC
    bool "Enable mbedtls library types"
    depends on QOSA_SSL_FUNC
    default y

config QOSA_MBEDTLS3_X_X_LIBRARY_FUNC
    bool "Enable mbedtls3_x_x to support TLS1_3"
    depends on QOSA_SSL_FUNC
    depends on QOSA_MBEDTLS_LIBRARY_FUNC
    default n

config QOSA_MBEDTLS2_X_X_LIBRARY_FUNC
    bool "Enable mbedtls2_28_x to support TLS1_1 and TLS1_2"
    depends on QOSA_SSL_FUNC
    depends on QOSA_MBEDTLS_LIBRARY_FUNC
    default n

config QOSA_WATERMARK_FUNC
    bool "Enable watermark function"
    depends on QOSA_BUFFER_BLOCK_FUNC
    depends on QOSA_LINK_LIST_FUNC
    default y

config QOSA_LINK_SYSTEM_LIBRARIES_FUNC
    bool "Enable link system libraries function"
    default n

config QOSA_UDP_UART_FUNC
    bool "Enable linux udp uart function"
    depends on QOSA_LINUX_PLATFORM_FUNC
    default y

config QOSA_WIFISCAN_FUNC
    bool "Enable WIFISCAN function"
    default n

config QOSA_FTM_FUNC
    bool "Enable ftm function"
    default n

config QOSA_AT_PARSER_FUNC
    bool "Enable AT command parser function"
    default n

config QOSA_AT_QGMR_APP
    bool "Enable QGMR with app"
    default n

config QOSA_LPM_FUNC
    bool "Enable LPM function"
    default n

config QOSA_CAMERA_FUNC
    bool "Enable CAMERA function"
    default n

config QOSA_LCD_FUNC
    bool "Enable LCD function"
    default n

config QOSA_IIC_FUNC
    bool "Enable IIC function"
    default n

config QOSA_SPI_FUNC
    bool "Enable SPI function"
    default n

config QOSA_AUDIO_DRIVER
    bool "Enable AUDIO function"
    default n

config QOSA_LED_FUNC
    bool "Enable LED function"
    default n

config QOSA_LED_GPIO_BLINK_FUNC
    bool "Enable LED blinking function" if QOSA_FEATURE_ALLOW_CHANGE
    default n

config QOSA_LICENSE_FUNC
    bool "Enable license function"
    default n

# qosa flash test func
config QOSA_FLASH_TEST_FUNC
    bool "Enable flash function"
    default n

config QOSA_NBIOT_CUST_FUNC
    bool "Enable NB-IoT customization"
    default n

config QOSA_TTS_SUPPORT
    bool "Enable TTS function"
    default n

config QOSA_TTS_RESOURCE_TO_FS_SUPPORT
    bool "Enable TTS resource store to fs"
    default n

config QOSA_CODE_DECODER_SUPPORT
    bool "Enable encoder and decoder （codec）"
    default n

config QOSA_SECBOOT_FUNC
    bool "Enable Secboot"
    default n

config QOSA_SECBOOT_SUPPORT
    bool "Enable Secboot （fixme）"
    default n

config QOSA_DTR_FUNC
    bool "Enable DTR function"
    default n

config QOSA_OEM_LT_FUNC
    bool "Enable OEM LT function"
    default n

config QOSA_OEM_BSQ_FUNC
    bool "Enable OEM BSQ function"
    default n

config QOSA_OEM_ALLIED_FUNC
    bool "Enable OEM ALLIED function"
    default n

config QOSA_OEM_GENUS_FUNC
    bool "Enable OEM GENUS function"
    default n

config QOSA_CALL_CONTROL_FUNC
    bool "Enable CONTROL CALL function"
    default n

config QOSA_VOICE_CALL_FUNC
    bool "Enable VOICE CALL function"
    default n

config QOSA_USBHID_FUNC
    bool "Enable USBHID function"
    default n

config QOSA_CLAT_FUNC
    bool "Enable CLAT function"
    default n

config QOSA_ABNORMAL_BASESTATION_FUNC
    bool "Enable fake base-station function"
    default n
#################################################################################################################
#  Platform control related macro definitions                                                                   #                                                  #
#     QOSA_LINUX_PLATFORM_FUNC         Primarily used in Linux systems                                          #
#     OSA_RDA8910_PLATFORM_FUNC        Primarily used for selection during 8910 project adaptation.             #
#     OSA_RDA8910_R06_PLATFORM_FUNC    8910 R06 has special characteristics as an application replacement.      #
#     OSA_QCX216_PLATFORM_FUNC         The QCX216 platform also provides application replacement                #
#     OSA_QCX217_PLATFORM_FUNC         The QCX217 platform also provides application replacement                #
#     OSA_ASR1903_PLATFORM_FUNC        The ASR1903 platform also provides application replacement               #
#     OSA_EIGEN718_PLATFORM_FUNC       The EIGEN718 platform also provides application replacement              #
#                                                                                                               #
#################################################################################################################

choice
    prompt "Platform function support" if QOSA_FEATURE_ALLOW_CHANGE
    default QOSA_LINUX_PLATFORM_FUNC

config QOSA_LINUX_PLATFORM_FUNC
    bool "Enable Linux platform support"
    select QOSA_LINK_SYSTEM_LIBRARIES_FUNC

config QOSA_RDA8910_PLATFORM_FUNC
    bool "Enable RDA8910 platform support"

config QOSA_RDA8910_R06_PLATFORM_FUNC
    bool "Enable RDA8910 R06 platform support"

config QOSA_QCX216_PLATFORM_FUNC
    bool "Enable QCX216 platform support"

config QOSA_QCX217_PLATFORM_FUNC
    bool "Enable QCX217 platform support"

config QOSA_ASR1903_PLATFORM_FUNC
    bool "Enable ASR 1903 platform support"

config QOSA_ASR1805_PLATFORM_FUNC
    bool "Enable ASR 1805 platform support"

config QOSA_ASR160X_PLATFORM_FUNC
    bool "Enable ASR 160X platform support"

config QOSA_EIGEN718_PLATFORM_FUNC
    bool "Enable Eigen 718 platform support"

config QOSA_UIS8852_PLATFORM_FUNC
    bool "Enable Unisoc 8852 platform support"

config QOSA_QT2131_PLATFORM_FUNC
    bool "Enable QT2131 platform support"

endchoice

if QOSA_FEATURE_ALLOW_CHANGE
# orsource "system_config.Kconfig"
orsource "modem/Kconfig.modem"
endif

endmenu
